{% extends 'base.html.twig' %}

{% block title %}Hello ShortLinkController!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center mt-4 text-4xl">Generate your short link</h1>
    {{ form(form_short_link) }}
</div>

{% endblock %}
